@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.lato {
    font-family: 'Lato', sans-serif;
}
body {
    background: rgb(167, 184, 174);
}
.navbar-brand img {
    width: 45px;
    height: 35px;
}
.form-control {
    width: 299px;
    height: 30px;
}
.btnsize {
    width: 30px;
    height: 30px;
}
.shopNow {
    width: 162px;
}
.footerPadd
{
    padding-top: 1px;
    padding-bottom: 2px;
}
.lato16{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.lato14{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.lato12{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}
.footerHr {
    width: 108px;
}
.inputHeight {
    height: 38px;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 1em;
    color: #474641;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
.headerColor{
    background-color: rgba(235,235,235, 0.9);
}
.btnShopSize {
    height: 54px;
}
.shopSearch{
    background-color: rgba(235,235,235, 0.9);
    height: 54px;
}